body {
  font-family: $font-default;
  color: $default;
}

a {
  color: $primary;
}

a:hover  {
  color: lighten($primary, 10);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right:15px;
  bottom: 15px;
  background: $primary;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;

  i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }

  &:hover  {
    color: #fff;
    background: lighten($primary, 8%);
    transition: background 0.2s ease-in-out;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid $primary;
  border-top-color: $white;
  border-bottom-color: $white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
