
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;

  @media (max-width: 992px) {
    width: 300px;
    background: $white;
    border-right: 1px solid lighten($secondary, 60);
    left: -300px;
  }

}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}


/* Desktop Navigation */
.nav-menu {

  & * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
  }

  a {
    display: flex;
    align-items: center;
    color: $secondary;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: lighten($secondary, 64);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;

    i  {
      font-size: 20px;
    }

    span {
      padding: 0 5px 0 7px;
      color: $secondary;
    }

    @media (min-width: 992px) {
      width: 56px;
      span {
        display: none;
        color: $white;
      }
    }

  }

  a:hover, .active > a, li:hover > a {
    color: $white;
    background: $primary;
    span {
      color: $white;
    }
  }

  a:hover, li:hover > a {
    width: 100%;
    color: $white;
    span {
      display: block;
    }

  }

}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  i {
    color: $secondary;
  }

}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }

  .mobile-nav-toggle i {
    color: $primary;
  }
}
